@charset "UTF-8";

.container {
    display: flex;
    margin-top: 5vw;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px; 
}

.mais {
    display: flex;
    margin-top: 1.5vw;
    color: rgb(55, 0, 255);
    box-shadow: 3px 3px 3px rgb(196, 196, 196);
    border: none;
    border-radius: 3px;
}

.mais:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 3px black;

}

.bt-img {
    font-size: 20px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

.texto {
    display: none;
}

.reveal { 
    display: block;
}

a {
    margin-top: 2vw;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgb(197, 197, 197);
    background: linear-gradient(
        to right,   
        rgba(255,0,0,1),
        rgba(255,0,180,1),
        rgba(0,100,200,1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-size 400ms;
}

a:hover {
    background-size: 0 3px, 100% 3px;
    transition: scale(1.5);
}


.card {
    flex: 1 1 250px;
    max-width: 300px;
    text-align: center;
}

.img:hover {
    transform: scale(1.5);
}

#bdo {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgb(129, 129, 129);
}

#zed {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgb(129, 129, 129);
}

#rive {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgb(129, 129, 129);
}

h1 {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(209, 209, 209);
    margin-top: 50px;
}

p {
    color: rgb(0, 0, 0);
    max-width: 300px;
    margin-top: 25px;
}

#img-box {
    height: 200px;
}   

#img-box :hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .card {
      max-width: 100%;
    }
  
    .img-box {
      gap: 20px;
      padding: 0 10px;
    }
  }