@charset "UTF-8";

.container {
    display: flex;
    margin-top: 5vw;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px; 
}

footer {
    padding-top: 10vw;
    padding-bottom: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h1 {
    font-size: 20px;
}

footer img {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
}

.mais {
    display: flex;
    margin-top: 1.5vw;
    color: rgb(55, 0, 255);
    box-shadow: 3px 3px 3px rgb(196, 196, 196);
    border: none;
    border-radius: 3px;
}

.mais:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 3px black;

}

.bt-imgbdo {
    font-size: 20px;
    border: white;
    border-radius: 3px;
    margin-top: 10px;
}

.bt-imgzed {
    font-size: 20px;
    border: white;
    border-radius: 3px;
    margin-top: 10px;
}

.bt-imgrive {
    font-size: 20px;
    border: white;
    border-radius: 3px;
    margin-top: 10px;
}


.texto {
    display: none;
}

.reveal { 
    display: block;
}

header a {
    margin-top: 2vw;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgb(197, 197, 197);
    background: linear-gradient(
        to right,   
        rgba(255,0,0,1),
        rgba(255,0,180,1),
        rgba(0,100,200,1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-size 400ms;
}

a:hover {
    background-size: 0 3px, 100% 3px;
    transition: scale(1.5);
}


.card {
    flex: 1 1 250px;
    max-width: 300px;
    text-align: center;
}

.img:hover {
    transform: scale(1.5);
}

.escuro {
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(138, 138, 138);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.escuro:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.dark-mode {
    background-color: rgb(29, 29, 29);
    color:white;
}

body.dark-mode a {
    color: white;
    background-color: rgb(29, 29, 29);
}

body.dark-mode h1 {
    color: white;
    background-color: rgba(1, 1, 78, 0.247);
}

body.dark-mode p {
    color: white;
    background-color: rgba(1, 1, 78, 0.288);
    border-radius: 10px;
}

body.dark-mode .mais {
    background-color: rgba(58, 45, 114, 0.288);
    color: white;
}

body.dark-mode .bt-imgzed {
    background-color: rgb(29, 29, 29);
}

body.dark-mode .bt-imgrive {
    background-color: rgb(29, 29, 29);
}

body.dark-mode .bt-imgbdo {
    background-color: rgb(29, 29, 29);
}

.imgs {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgb(129, 129, 129);
}

header h1 {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(209, 209, 209);
    margin-top: 50px;
}

p {
    color: rgb(0, 0, 0);
    max-width: 300px;
    margin-top: 25px;
}

#img-box {
    height: 200px;
}   

#img-box :hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .card {
      max-width: 100%;
    }
  
    .img-box {
      gap: 20px;
      padding: 0 10px;
    }
  }